<div class="six histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 6           </span>
    <span class="bar-block">
    <span id="bar-six" class="bar" style="width: {{ histogram.5.1 }}">
        <span>{{ histogram.5.0 }}</span>&nbsp;
    </span> 
    </span>
</div>
<div class="five histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 5           </span>
    <span class="bar-block">
    <span id="bar-five" class="bar" style="width: {{ histogram.4.1 }}">
        <span>{{ histogram.4.0 }}</span>&nbsp;
    </span> 
    </span>
</div>

<div class="four histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 4           </span>
    <span class="bar-block">
    <span id="bar-four" class="bar" style="width: {{ histogram.3.1 }}">
        <span>{{ histogram.3.0 }}</span>&nbsp;
    </span> 
    </span>
</div> 

<div class="three histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 3           </span>
    <span class="bar-block">
    <span id="bar-three" class="bar" style="width: {{ histogram.2.1 }}">
        <span>{{ histogram.2.0 }}</span>&nbsp;
    </span> 
    </span>
</div>

<div class="two histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 2           </span>
    <span class="bar-block">
    <span id="bar-two" class="bar" style="width: {{ histogram.1.1 }}">
        <span>{{ histogram.1.0 }}</span>&nbsp;
    </span> 
    </span>
</div>

<div class="one histo-rate">
    <span class="histo-star">
    <i class="active icon-star"></i> 1           </span>
    <span class="bar-block">
    <span id="bar-one" class="bar" style="width: {{ histogram.0.1 }}">
        <span>{{ histogram.0.0 }}</span>&nbsp;
    </span> 
    </span>
</div>
